@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
p {
    font-family: 'Noto Serif JP', serif;
}
#top {
    background-image: url(/Asset/top-aki-haru.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}